.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 13px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
    }
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    .video__comment-avatar {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    .video__comment-textarea {
      max-height: 600px;
      width: 90%;
      display: flex;
      flex-direction: column;
      margin: 0px 10px;
      #usernameComment {
        margin-bottom: 5px;
        font-weight: 600;
      }
    }
    span {
      font-size: 15px;
    }
    .video__comment-buttons {
      button {
        all: unset;
        padding: 5px;
        font-weight: 400;
      }
    }
  }
}
